.labels__disclaimer-mobile{

}



@media (min-width:768px) and (max-width:1439px){
    .labels__disclaimer-mobile{
        display: none;
        visibility: hidden;
    }
    .labels__offer-mobile{
        display: none;
        visibility: hidden;
    }
    

}
@media(min-width:1440px){
    .labels__disclaimer-mobile{
        display: none;
        visibility: hidden;
    }
    .labels__offer-mobile{
        display: none;
        visibility: hidden;
    }
}

