@media (max-width:359px) {

    .swiper-wrapper{
        margin-left: 20px;
        margin-bottom: 40px;
    }
    
    .swiper-slide-wrapper{
        background-color: #fff;
        padding: 10px 20px;
        margin: 5px;
        max-width:250px;
        position: relative;
        font-family: 'TTLakes-Regular';
        
    }
    .offer-centered{
        margin: 5px 15px;
        background-color: #FFFFFF;
    }
    .offer__header{
        color:$services-color;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 14px;
        font-family: 'TTLakes-Medium';
        
    }
    .offer_data{
        font-size: 14px;
    }
    .offer__svg{
        position: absolute;
        bottom: 5px;
        right: 15px;
    }
    
    .labels__disclaimer__mobile{
        margin-left: 20px;
        font-size: 15px;
        width: 300px;
        margin-bottom: 20px;
    }
    
    .labels__offer__mobile{
        font-weight: 900;
        margin-bottom: 20px;
        margin-left: 20px;
    }
    .labels__line{
        margin-left: 15px;
       
    
    }
 
    .swiper-slide-wrapper{
        height: 200px;
        width: 260px;
    }
}
