.labels__table{
    width: 100%;
}
.labels__table{
    border-collapse: collapse;
    row-gap: 20px;
    column-gap: 20px;
}

.labels__table-header {
    padding: 30px 20px;

}
.labels__cell{
    font-family: 'TTLakes-Regular', sans-serif;
    padding: 20px 40px;
    font-size: 14px;
    color:$descrText;
    
}
.labels__header{
    font-family: "TTLakes-Medium";
    font-size: 14px;
    color:$services-color;
    
}
.labels__table-data:not(:last-child){

    margin-bottom: 5px;
    border-bottom: 1px solid #7e7e82;
}
.labels__table-data{
    background-color: #fff;

}

.labels__table-header{
    font-size: 14px;
    font-family: 'TTLakes-Medium', serif;
    font-weight: normal;
    text-transform: uppercase;
    color:$services-color;
    font-weight: 300;
    text-align: left;

  
    
}

.labels__disclaimer{
    font-family: 'TTLakes-Regular', sans-serif;
    margin-left: 20px;
    font-size: 14px;
    width: 500px;
    margin-bottom: 20px;
}

.labels__offer{
   
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: 'TTLakes-Medium', sans-serif;
    font-size: 16px;
}
.labels__line{
    margin-left: 15px;
   

}
.labels__disclaimer-desktopTablet{
    width: 500px;
}

/* @media (min-width:768px) and (max-width:1439px){
    .labels__disclaimer{
        width: 500px;
    }
} */
@media (min-width:360px) and (max-width:767px){
    .labels__disclaimer{
        width: 300px;
    }
    .labels__disclaimer-mobile, .labels__offer-mobile{
        margin-left: 20px;
        margin-right: auto;
      
    }
}
@media (max-width:359px){
    .labels__disclaimer{
        width: 300px;
    }
    .labels__disclaimer-mobile, .labels__offer-mobile{
        margin-left: 20px;
        margin-right: auto;
      
    }
}