.labels__table{
    width: 100%;
}
.labels__table{
    border-collapse: collapse;
    row-gap: 20px;
    column-gap: 20px;
}

.labels__table-header {
    padding: 30px 20px;

}
.labels__cell{
    font-family: 'TTLakes-Regular', sans-serif;
    padding: 20px 40px;
    
}

.labels__table-data{
    background-color: #fff;
    margin-bottom: 5px;
    border-bottom: 1px solid #7e7e82;
}

.labels__table-header{
    font-size: 16px;
    font-family: "TT Lakes",serif;
    font-weight: normal;
    text-transform: uppercase;
    color:#7e7e82;
    font-weight: 300;
/*     @font-face {font-family: "TT Lakes"; src: url("/TT-Lakes-Font/TT Lakes Medium.otf");}  */
  
    
}

.labels__disclaimer{
    font-family: 'TTLakes-Regular', sans-serif;
    margin-left: 20px;
    font-size: 15px;
    width: 300px;
    margin-bottom: 20px;
}

.labels__offer{
    font-weight: 900;
    margin-bottom: 20px;
    margin-left: 20px;
    font-family: 'TTLakes-Medium', sans-serif;
}
.labels__line{
    margin-left: 15px;
   

}
