@import "three-mobile";
@import "three-tablet";
@import "three-desktop";
@import "three-common";
@import "five-style";
@import "five-replica";
@import "table";
@import "footer";
@import "swiper-320";
@import "prices-swiper";
@import "disclaimer-mobile";
@import "swiper-360";
@import "mobile-big";
@import "sidebar-360";
@import "sidebar-tablet";
@import "sidebar-320";
@import "sidebar-desktop";
@import "feedback.scss";
$bgColor: #24292e;
$text: #fff;
$blue-light:#41f6d7;
$backgroundColor:#f8f8f8;
$services-color:#7E7E82;

:root{
    --light-blue:#41f6d7;
    --bg-color:#fff;
    font-size: 16px;
    --dark-blue-color: #41F6D7;
    --light-blue-color:#B8FFEC;
}
