@import "three-mobile";
@import "three-tablet";
@import "three-desktop";
@import "three-common";
@import "five-style";
@import "five-replica";
@import "table";
@import "footer";
@import "swiper-mobile";
@import "prices-swiper";
@import "disclaimer-mobile";
$bgColor: #24292e;
$text: #fff;
$blue-light:#41f6d7;
$backgroundColor:#f8f8f8;

:root{
    --light-blue:#41f6d7;
    --bg-color:#fff;
    font-size: 16px;
}